.hero-container {
    width: 100%;
    display: flex;
    font-size: .8rem;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;

}

.hero-container img {
    height: 500px;
}


@media screen and (max-width: 960px) {
    .hero-container img {
        height: 350px;
    }
}