:root {
  --text-color:#121212;
  --text-secondary:#a9a9a9;
}


.navbar {
  color: var(--text-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  letter-spacing: .5px;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1700px;
}

.is-active {
  color: #a9a9a9 !important;
}

.brand{
  color: var(--text-color);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}
 
.last {
  color: var(--text-secondary);
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: var(--text-color);
  display: flex;
  letter-spacing: .5px;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}


.nav-links:hover {
  color: var(--text-secondary);
  transition: all 0.3s ease-in-out;
}

.fa-bars {
    font-size: 20px;
 
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    text-decoration: none !important;
    font-family: 'Questrial';
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #fffffff7;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
    transition: all 0.3s ease-in-out;
  }

  .nav-links:hover {
      color: var(--text-secondary);
      transition: all 0.3s ease-in-out;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {

    font-size:20px;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 10px 4px;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    color: var(--text-secondary);
    transition: all 0.3s ease-in-out;
  }
}
